@import '../../App.scss';

.column_grid_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5vw, 18vw));
  width: 100vw;
  justify-content: center;
  margin-top: 175px;
  div:first-child {
    border: none;
  }
}

@media screen and (max-width: 1100px) {
  .column_grid_wrapper {
  }
}
