@import '../../App.scss';

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    .submit_button {
        color: $white;
        background-color: $black;
        border-radius: 50px;
        padding: 15px 0;
        width: 100%;
        border: none;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            border: 1px solid $black;
            background: $white;
            color: $black;
        }
    }
    .form_input_group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .form_input {
        border-radius: 50px;
        border: 1px solid black;
        padding: 12px 0px;
        margin-bottom: 10px;
        width: 48%;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
}