@import '../../App.scss';

.column_wrapper {
  border-left: 1px solid black;
  height: 60vh;
  margin: 0 2.5px;
  padding: 0 2.5px;
}

.column_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  position: fixed;
  height: 20px;
  h2 {
    font-size: 18px;
  }
  .learn_more {
    padding-left: 20px;
    font-size: 16px;
  }
}

.column_body {
  height: 50vh;
  overflow-y: scroll;
  margin-top: 40px;
  padding: 20px;
}
